{{ form_start(form) }}
    {{ form_row(form.name, {'attr':{'class':'form-control'}, 'label':'Nom de la catégorie : '}) }}

<button type="submit" class="btn btn-outline-succes">Envoyer</button>
{{ form_end(form) }}