{% extends 'base.html.twig' %}
{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    <h1>Modification d'un article</h1>
    {{ include('category/_form.html.twig') }}
{% endblock %}