{{ form_start(form) }}
    {{ form_row(form.name, {'attr':{'class':'form-control'}, 'label':'Nom du tag : '}) }}

    

<button type="submit" class="btn btn-primary">Envoyer</button>
{{ form_end(form) }}